table th, table td {
  /*
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  */
  border: 1px solid black;
}

table tr {
  border: 1px solid black;
}

table tr.favorite {
  background-color: #ffff99;
}

table tr.interested {
  background-color: #ccff99;
}

table tr.selected {
  background-color: #38D878;
  background-color: #ccff99;
}

table td.price {
  color: green;
  font-weight: bold;
  text-align: center;
}

table td.square-feet, table td.mls-number {
  text-align: center;
}
