table {
  border: 1px solid black;
}

th, td {
  /*border: 1px solid black;*/
}

tr {
  /*border: 1px solid black;*/
}

tr.even {
  background-color: #dddddd;
}

tr.favorite {
  background-color: #ffff99;
}

tr.interested {
  background-color: #ccff99;
}

tr.selected {
  background-color: #ccff99;
}

td.price {
  color: green;
  font-weight: bold;
  text-align: center;
}

td.address a {
  display: block;
  width: 200px;
  overflow: hidden;
}

td.square-feet, td.mls-number, td.short-sale {
  text-align: center;
}
